.loader-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: rgb(122, 215, 243); */
  background-image: url("../Images/anime-gun-dark.jpg");
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.card-body{
  padding:10px 0px;
  padding-top:25px;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid var(--text-color);
  /* top: -25%; */
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

.elementToAnimate{
    animation: yourAnimation 2s ease 0s normal none;
}

.user-name{
  font-size: 12px;
}

/* * Post widget * */

input[type="file"] {
  display: none;
}
ul {
  list-style-type: none;
}


.widget-post {
  width: 100%;
  min-height: 100px;
  height: auto;

  border-radius: 6px;
  box-shadow: 0 1px 2px 1px rgba(130, 130, 130, 0.1);

  background-color: var(--background);

  margin: auto;
  overflow: hidden;
}

.widget-post__header {
  padding: .2em .5em;

  background-color: var(--background);
  color: #3f5563;
}
.widget-post__title {
  font-size: 18px;
}
.UploadForm{
  margin-bottom: 40px;;
}
.widget-post__content {
  width: 100%;
  height: 50%;
}
.widget-post__textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size:14px;
  height: 5em;
  background-color: rgb(48, 48, 48);
  color:var(--text-color);
  border: none;
  resize: none;
}
.widget-post__textarea:focus {
  outline: none;
  height: 10em;
}

.widget-post__options {
  padding: .5em;
}
.widget-post___input {
  display: inline-block;

  width: 24%;
  padding: .2em .5em;

  border: 1px solid #eaeaea;
  border-radius: 1.5em;
}
.post-actions__label {
  cursor: pointer;
}

.widget-post__actions {
  width: 100%;
  padding: .5em;
}
.post--actions {
  position: relative;
  padding: .5em;
  background-color: var(--background);
  color: #a2a6a7;
}
.post-actions__attachments {
  display: inline-block;
  width: 60%;
}
.attachments--btn {
  background-color: var(--primary);
  color: var(--text-color);
  border-radius: 1.5em;
}
.attachments--btn:hover .post-actions__label,.attachments--btn:hover i{
  color: var(--primary)!important;
}
.post-actions__widget {
  display: inline-block;
  width: 38%;
  text-align: right;
}
.post-actions__publish {
  width: 120px;
  background-color: var(--primary);
  color: #fff;
  border-radius: 1.5em;
}

.scroller::-webkit-scrollbar {
  display: none;
}

.is--hidden {
  display: none;
}

.sr-only {
  width: 1px;
  height: 1px;

  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);

  overflow: hidden;
  white-space: nowrap;

  position: absolute;
  top: 0;

}


/* *  Placeholder contrast * */
::-webkit-input-placeholder {
  color: #666;
}
::-moz-placeholder {
  color: #666;
}
:-ms-input-placeholder {
  color: #666;
}
:-moz-placeholder {
  color: #666;
}