.loader-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: rgb(122, 215, 243); */
  background-image: url("../Images/anime-gun-dark.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid var(--text-color);
  /* top: -25%; */
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

.elementToAnimate{
    animation: yourAnimation 2s ease 0s normal none;
}

.user-name{
  font-size: 12px;
}

@media (min-width: 200px) and (max-width: 500px) {
  div.banner{
    font-size:12px;
  }
  .StickyNav {
    position: relative;
  }
}