.loader-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: rgb(122, 215, 243); */
  background-image: url("../Images/anime-gun-dark.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid var(--text-color);
  /* top: -25%; */
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

.elementToAnimate{
    animation: yourAnimation 2s ease 0s normal none;
}

.user-name{
  font-size: 12px;
}

.dropbtn {
  background-color: transparent;
  color: var(--text-color);
  padding: 16px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--background);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: var(--text-color);
  padding: 12px 16px;
  text-decoration: none;
  font-size: 13px;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  box-shadow: 20px 20px 30px 0px plum, -20px -20px 30px 0px rgb(82, 156, 240);
  color:black;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 5px;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
}

@media (min-width: 200px) and (max-width: 500px) {
  div.banner{
    font-size:12px;
  }
  .StickyNav {
    position: relative;
  }
}