*{
    margin:0px;
    padding:0px;
}

.loginFormBG {
    background-color:transparent;
    background-image: url("../Images/gaming-bg.webp");
    background-size: cover;
    height:100vh;
    background-position: center center;
}
.loginFormContainer{
    display:flex;
    align-items:center;
    justify-content: center;
    height:100vh;
    transition:all 0.2s ease;
    backdrop-filter: blur(10px);
}
.login-column{
    width:400px;
    padding:50px;
    background-color: #27283af6;
    border-radius: 10px;
    transition:all 0.2s ease;
    box-shadow: 0px 0px 20px 0px rgba(117, 117, 117, 0);
}
.login-column form{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;   
}
.field{
    width:100%!important;
    background-color:rgba(255, 255, 255, 0)!important;
    border:none!important;
    border-bottom:2px solid #A1AAF8!important;
    color:#fff!important;
    transition:all 0.2s ease;
    border-radius: 0px!important;
}
.field:focus{
    outline:none!important;
    box-shadow: 0px 0px 15px 0px #A1AAF8 !important;
    border-bottom:2px solid rgba(255, 255, 255, 0)!important;
    transition:all 0.2s ease;
    border-radius: 10px!important;
}
.loginBtn{
    width:100%;
    background-color:#A1AAF8!important;
    color:#27283A!important;
    outline:none!important;
    transition:all 0.2s ease;
}
.loginBtn:hover{
    background-color:#7c85d4!important;
    transition:all 0.2s ease;

}
.login-column:hover{
    box-shadow: 0px 0px 20px 0px rgba(117, 117, 117, 0.5);
    transition:all 0.2s ease;
}
.scale2X{
    transform: scale(2.0)!important;
}